use Mix.Config

# Configure your database
config :slack_test, SlackTest.Repo,
  username: "",
  password: "",
  database: "",
  hostname: "postgres",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10

config :slack, api_token: "", channel: ""
