<main role="main">
  <p class="custom-alert alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="custom-alert alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
